<nav class="navbar navbar-expand-sm bg-dark texto">
  <a>
    <img id="logo" src="https://cdn-icons-png.flaticon.com/512/4321/4321766.png" alt="Logo de mi app">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link text-light" routerLink="/v0/clubnautico/inicio">Inicio</a></li>
    <li class="nav-item"><a class="nav-link text-light" routerLink="/v0/clubnautico/socios">Socios</a></li>
    <li class="nav-item"><a class="nav-link text-light" routerLink="/v0/clubnautico/barcos">Barcos</a></li>
  </ul>
</nav>

<div class="container" style="align-content: center;">
  <router-outlet></router-outlet>
</div>

