div{
    background-color: black;
    width: 1000px;
    height: 700px;
    color: red;
    background-image: url("https://cdn-icons-png.flaticon.com/512/4321/4321766.png");
    background-repeat: no-repeat;
    background-position: center;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 80px;
}