<h1 style="text-align: center;">{{titulo}}</h1>

<form>

  <input type="text" name="nombre" [(ngModel)]="nombre"><br>

  <input type="text" name="apellido" [(ngModel)]="apellido"><br>

  <input type="text" name="cargo" [(ngModel)]="cargo"><br>

  <input type="submit" value="Registrar" (click)="registrarUsuario()"><br>





</form>

<br>

<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de {{nombre}} {{apellido}} 
  y tiene el cargo de <span [ngClass]="{paraDirectores:cargo=='director'}"> {{cargo}} </span></p>

<ng-template #sinRegistrar>

  <p>Nadie registrado</p>



</ng-template>
<br><br>

<ul>

  <li *ngFor="let entrada of entradas; let i=index"><span style="font-size: larger; font-weight: bold;">{{entrada.titulo}}</span>
  . Entrada {{i+1}}
  </li>

</ul>